
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: rgb(170, 170, 170);
    width: 400px;
    border: 2px solid rgb(14, 14, 14);
    border-radius: 15px;
    padding: 20px;
}

.display-container {
    background-color: #ebebeb;
    height: 120px;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.result {
    height: 50px;
    font-size: 2.5rem;
    position: absolute;
    right: 20px;
    white-space: nowrap;
}

.display-container,
.button,
#equals {
    background-color: #ebebeb;
    border: 2px solid rgb(14, 14, 14);
    border-radius: 5px;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button,
#equals {
    font-size: 1.3rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    cursor: pointer;
    transition: background-color 50ms ease-in;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.button:hover, 
#equals:hover {
    background-color: #d4d4d4;
}

.button:active,
#equals:active {
    background-color: #b3b3b3;
}

.button.button--clear,
.button.button--delete {
    grid-area: 1 / span 2;
}

.button.button--clear {
    background-color: rgb(255, 173, 167);
}
.button.button--clear:hover {
    background-color: rgb(238, 162, 157);
}
.button.button--clear:active {
    background-color: rgb(214, 145, 141);
}

.button.button--delete {
    background-color: rgb(172, 172, 253);
}
.button.button--delete:hover {
    background-color: rgb(158, 158, 231);
}
.button.button--delete:active {
    background-color: rgb(143, 143, 209);
}


